* {
    margin: 0;
    padding: 0;
}

main {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorBtn {
    padding: .5rem 5rem;
    border: 3px solid #fefefe;
    border-radius:  7px;
    color: #fefefe;
    background: rgba(0,0,0, .6);
    font-size: 0.85rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}

.colorBtn:hover {
    background: rgba(0,0,0);
}

.container {
    text-align: center;
}

.hexColor {
    text-transform: capitalize;
}

.hex {
    font-size:  3rem;
}

a {
    text-decoration: none;
}

footer {
    min-height: 10vh;
    background: rgb(180, 230, 245) !important;
    color: black;
    font-weight: 800;
    font-size: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
